<ul class="nav-items">
        <li class="font-class"><a href="/entry/#newsletter">NewsLetter</a></li>
        <li class="font-class"><a href="/signup">Signup</a></li>
        <li class="font-class"><a href="/login">Login</a></li>
</ul>
